.container.white.z-depth-3
  .row.center
    .col.s12.black.banner
      %img.circle{:src=> "http://www.um.es/docencia/barzana/materializecss/images/yuna.jpg"}
  .container.center
    =form_for @user do |f|
      .row
        .col.s6.m4.offset-m2
          =f.text_field :name
        .col.s6.m4
          =f.text_field :last_name
      .row
        .col.s12.m6
          %strong
            Fecha de nacimiento
          =f.date_field :birth_date
          %strong DNI
          =f.text_field :dni
          %strong E-mail
          =f.text_field :email
        .col.s12.m6
          %strong Bio
          =f.text_area :bio
      .row
        .col.s12.m6
          
        .col.s12.m6

      .row
        =f.submit "Actualizar", :class => "btn"
      .row
        =link_to "Modificar datos de acceso", edit_user_registration_path, class: "btn red" # Cerrar sesión
