= content_for :html_title, @category.name

.row.center
  %h2
    = @category.name
.row
  %ul
    -@posts.each do |post|
      %li
        = render :partial => 'buttercms/posts/post', :locals => {:post => post}
