:javascript
  $(document).ready(function(){
    $('.parallax').parallax();
    $('.collapsible').collapsible();
  });
  $( window ).load(function() {
    $('.parallax').parallax();
  });

-if user_signed_in?
  .row
  -unless @nopuedeadministrar == true
    
    .row.teal.lighten-5
      .container
        .col.s12.center
          %h1 Gestión de empresa
          -if @company.alias == "freeTrial"
            =link_to "Instrucciones de prueba", company_prueba_path(@company)
        %ul.collapsible{"data-collapsible"=>"accordion"}
          %li
            .collapsible-header
              %i.material-icons touch_app
              Entorno móvil
            .collapsible-body
              %span Es el entorno que permitirá realizar créditos y débitos usando la cámara de un dispositivo móvil para la lectura del código de barras.
              %p
              =link_to "Ir", company_panel_path(@company, :mobile => true), :class=> "btn"
          %li
            .collapsible-header
              %i.material-icons important_devices
              Entorno para PC
            .collapsible-body
              %span Es la forma más eficiente de realizar créditos y débitos a tarjetas de clientes. Está diseñado para una rápida carga con lector de códigos de barra o bien para un ingreso manual del número de cliente.
              %p
              =link_to "Ir", company_panel_path(@company), :class=> "btn"
          %li
            .collapsible-header
              %i.material-icons
                credit_card
              Crear tarjetas
            .collapsible-body
              %span Desde este menú se podrán dar de alta tarjetas de membresía para luego:
              %ul
                %li encargar su impresión,
                %li imprimir tarjetas de códigos con diseño estándar, o bien 
                %li imprimir lista de códigos de barra y PIN para encargar la producción de las tarjetas a #{@company.name}
              %p
                =link_to "Ir", new_company_card_path(@company), :class=> "btn"
          %li
            .collapsible-header
              %i.material-icons people
              Clientes
            .collapsible-body
              %span Desde aquí se pueden visualizar todas las tarjetas dadas de alta y toda la información relativa a las mismas, incluyendo los datos de los usuarios que las han registrado.
              %p
                =link_to "Ir", company_cards_path(@company), :class=> "btn"
          %li
            .collapsible-header
              %i.material-icons timeline
              Estadísticas
            .collapsible-body
              %span Cuando se genera un volumen de datos lo suficientemente grande en su sistema, Praemium le ofrecerá sin cargo estadísticas que permitirán mejorar el servicio a sus clientes o captar nuevos.
    .row.black.white-text
      .col.s12.center
        %h1 Tu página
      .col.s12.center A CONTINUACIÓN SE MUESTRA LA PÁGINA QUE VE EL RESTO DE LOS USUARIOS DE PRAEMIUM, SUS CLIENTES Y TAMBIÉN LOS VISITANTES NO REGISTRADOS.
      .col.s12.center
        =link_to "Editar página", edit_company_path(@company.id), :class => "btn red bigmargin" #, :onclick => "javascript:(function(ele) { window.open(ele.href, ele.title, 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes, width=75%, resizable=yes') })(this); return true;"
.parallax-container
  .parallax
    =image_tag(@company.cover.url(:large), :alt => "Portada")
  %h1.titCompany.center-xs
    = @company.name
.row.nomargin
  .container
    .col.s12
      %h2.texto-azul Bienvenido a #{@company.name}
    .col.s12
      -markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML)
      -unless @company.markdown_content == nil
        =raw(markdown.render(@company.markdown_content).html_safe)
    .col.s12
      %h2.texto-celeste Tu tarjeta
      %p Si estás acá, seguramente te dieron una tarjeta <span class="texto-verde">Praemium</span>, que te permitirá SUMAR puntos por cada compra que hagas, y utilizarla para realizar PAGOS de productos y servicios en la empresa.
      %p Si ya tenés cuenta en Praemium, podés Iniciar sesión, y agregar el número de tarjeta en tu cuenta. De lo contrario, podés Registrarte.
    .col.s6.center-xs
      %a.btn.waves-effect{:href=>'\users\sign_up'} Registrarme
    .col.s6.center-xs  
      %a.btn.waves-effect{:href=>'\users\sign_in'} Iniciar sesión
.parallax-container
  .parallax
    =image_tag(@company.cover.url(:large), :alt => "Portada")
=render partial: "layouts/footer"


