%h1 Entorno de trabajo
%p Es la forma más eficiente de realizar créditos y débitos a tarjetas de clientes. Está diseñado para una rápida carga con lector de códigos de barra o bien para un ingreso manual del número de cliente.
=link_to "Ir", company_panel_path(@company)
%h1 Crear tarjetas
%p Desde este menú se podrán dar de alta tarjetas de membresía para luego:
%ul
  %li encargar su impresión,
  %li imprimir tarjetas de códigos con diseño estándar, o bien 
  %li imprimir lista de códigos de barra y PIN para encargar la producción de las tarjetas a #{@company.name}
%h1 Clientes
%p Desde aquí se pueden visualizar todas las tarjetas dadas de alta y toda la información relativa a las mismas, incluyendo los datos de los usuarios que las han registrado.
%h1 Estadísticas
%p Cuando se genera un volumen de datos lo suficientemente grande en su sistema, Praemium le ofrecerá sin cargo estadísticas que permitirán mejorar el servicio a sus clientes o captar nuevos.