// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html{
  	font-family: 'Titillium Web', sans-serif;
  }

body{
	background-color: grey lighten-4;
  	/* background-image: url("./2bg.png"); */
  	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax-container {
      height: 400px !important;
}
.separador{
	padding-top: 50px;
	padding-bottom: 50px;
}
.transparencia{
	background-color: rgba(0,150,136,0.3);
}
.transparenciafuerte{
	background-color: rgba(255,255,255,0.8);
}
.verticaltotal{
	height: 90vh;
	
}
.vertical70{
	height: 75vh;
}
.vertical50{
	height: 45vh;
}
.padding{
	padding: 5px 5px;
}
.cajita{
	background-color: rgba(255,255,255,0.95);

	border-radius: 10px;
}