
/* Colores */

$negro: #1E130F;
$verde: #4CA92C;
$celeste: #0068AE;
$azul: #003C91;
$turquesa: #009CDD;

.verde{
	background-color: $verde;
}

.texto-verde{
	color: $verde;
	font-family: 'alpaca';	
}

.negro{
	background-color: $negro;
}

.texto-negro{
	color: $negro;
	font-family: "alpaca"
}

.texto-blanco{
	color: white;
	font-family: "alpaca"
}
.azul{
	background-color: $azul;

}
.azulFb{
	background-color: #3b5998;
}

.texto-azul{
	color: $azul;
	font-family: 'alpaca';
}

.texto-turquesa-normal{
	color: $turquesa;
	font-family: 'normal';
}
.celeste{
	background-color: $celeste;
}

.texto-celeste{
	color: $celeste;
	font-family: 'alpaca';	
}

.turquesa{
	background-color: $turquesa;
}

.texto-turquesa{
	color: $turquesa;
	font-family: 'alpaca';	
}

.grantexto{
	font-size: 3em;
	text-align: right;
	color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.big{
	font-size: 3em;
}
.money{
	font-size: 3em;
	text-align: center;
	color: white;
}

/* Espaciado */
.bigp{
	padding: 2em;
}

.nom{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.bigmargin{
	margin: 5px;
}
/* Secciones */

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1 0 auto;
}


.bg{
	/* background-image: url("bg.png"); */
	background-color: rgba(0,156,222,0.055);
	background-size: cover;
}
.littlePadding{
	padding: 3px;
}
.littlePadding2{
	padding: 15px;
}
.littleMargin{
	padding: 6px;
}
.nomargin{
	margin: 0 auto;
}
.parallax-container{
	/* height: 150px !important; */
	height: 100%;
	width: 100%;
}
.page-footer{
	width: 100%;
}
.titCompany{
	text-shadow: 2px 2px #ffffff;
}
.logoCompany{
	max-height: 70%;
	max-width: 70%;
}
.pictureCompany{
	max-height: 100%;
	max-width: 100%;	
}

.grid { 
	position: "absolute"; 
	top: 0; 
	bottom: 0;
	left: 0; 
	right: 0;
}

/* Bordes */
.bordeRedondeadoVerde {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 20px; 
}
.bordeRedondeado {
    border-radius: 15px;
    border: 2px;
    padding: 20px; 

}
.littleBordeRedondeado {
    border-radius: 15px;
    border: 2px;
    padding: 2px; 
}
.bordeRedondeadoChiquito{
    border-radius: 5px;
    border: 2px;
    padding: 2px; 	

}
.textoSombreado{
	text-shadow: 1px 1px 6px #ffffff;
}

.cover{
	height: 10%;
	width: 10%;
}