%p
  Hola #{@email}!
- if @resource.try(:unconfirmed_email?)
  %p
    Nos estamos contactando con vos para informarte que tu email para ingresar a Praemium está cambiando a 
    #{@resource.unconfirmed_email}.
- else
  %p
    Nos estamos contactando con vos para informarte que tu email para ingresar a Praemium ha sido cambiado por #{@resource.email}.
