%p
  Hola #{@resource.email}!
%p Te escribimos porque alguien solicitó renovar su contraseña de Praemium. Si fuiste vos, hacé clic en el siguiente link:
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si no pediste un cambio de contraseña, ignorá este correo... Tu contraseña no será cambiada hasta que ingreses al link y la modifiques.
%p Saludos!

%p.right El equipo de Praemium
