%p
  Hola #{@resource.email}!
%p Tu cuenta de Praemium fue bloqueada por una excesiva cantidad de intentos de acceso.
%p Hacé clic en el siguiente enlace para desbloquearla:
%p= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token)
