%footer.page-footer.black
  .container.texto-turquesa-normal
    .row
      .col.l2.s12.center
        = link_to(image_tag("0.5x/logoblanco.png", width: "60"), "https://www.praemium.com.ar")
      .col.l2.m3.s6
        %h5 Redes sociales
        %p 
          =link_to "Facebook", "https://www.facebook.com/praemium.oficial/", :target => "_blank"
        %p
          =link_to "YouTube", "https://www.youtube.com/channel/UCPN9PoYJ1FSyeWU7e6z6chQ?view_as=subscriber", :target => "_blank"
        %p 
          =link_to "LinkedIn", "https://www.linkedin.com/company/praemium-argentina/", :target => "_blank"
        %p
          =link_to(image_tag("whatsapp", height: 24), "https://api.whatsapp.com/send?phone=+5493417183662&text=Hola! Quiero obtener más información sobre los planes y servicios que ofrecen en Praemium!")
          =link_to(raw("<i class=material-icons>email</i>"), "mailto: info@praemium.com.ar")
      .col.l3.m4.s6
        %h5
          =link_to "Blog", "https://praemium.com.ar/blog", :target => "_blank"
        %p
          =link_to "Ayuda y Documentación", "https://www.praemium.com.ar/blog/index.php/docs/", :target => "_blank"
        %p
          =link_to "Hacé crecer tu comercio", "https://praemium.com.ar/blog", :target => "_blank"

      
      
      

      .col.l3.m4.s12
        %h5 Legales
        %p
          %a{:href=>'#privacidad'} Privacidad
        %p
          %a{:href=>'#term'} Términos y condiciones
        /%p
        /  %a{:href=>'#licencia'} Licencia
      .col.s12.center
        -unless user_signed_in?
          %h5 Cuenta
          %p
            %a{:href=>'\users\sign_up'} Registrarme
          %p
            %a{:href=>'\users\sign_in'} Iniciar sesión
        -else
          %h5 Soy un comerciante
          %p
            =link_to "Iniciar prueba gratis", new_company_path, :class=>"btn red"
        #privacidad.modal.modal-fixed-footer
          .modal-content
            = render 'layouts/privacidad'
          .modal-footer
            %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
        #term.modal.modal-fixed-footer
          .modal-content
            = render 'layouts/terminos'
            = render 'layouts/privacidad'
          .modal-footer
            %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
        #licencia.modal.modal-fixed-footer
          .modal-content
            %h4 Licencias
            %p licencias

          .modal-footer
            %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
  .footer-copyright
    .container.center
      2018 Praemium. Todos los derechos reservados