%footer.page-footer.black
  .container.texto-turquesa-normal
    .row.center-xs
      .col.s12
        %a{:href=>'#term'} Información legal

      /%p
      /  %a{:href=>'#licencia'} Licencia
      #term.modal.modal-fixed-footer
        .modal-content
          = render 'layouts/terminos'
        .modal-footer
          %a.modal-action.modal-close.waves-effect.btn-flat Cerrar

        .modal-footer
          %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
  .footer-copyright
    .container.center
      .row.middle-xs.center-xs
        = image_tag("0.5x/logoblanco.png", width: "35", alt: "Logo de Praemium: soluciones para comercios")
        .black-text ;-)
        %a.white-text{:href=>"https://www.praemium.com.ar"} Desarrollado por Praemium.