%h1 TÉRMINOS Y CONDICIONES DE USO
%h2 INTRODUCCIÓN
%p Bienvenido a PRAEMIUM, programa unificado de beneficios para comercios. Las cláusulas descritas a continuación representan los términos y condiciones generales de uso del Programa y del sitio web PRAEMIUM.com.ar, incluyendo todos sus subdominios y aplicaciones disponibles actualmente y las que en el futuro lo reemplacen.
%p El usuario que accede a este sitio web declara conocer y aceptar estos términos y condiciones relativos a su utilización. El contenido del presente deberá ser leído cuidadosamente antes del acceso o uso de este sitio de Internet. El acceso a cualesquiera de las áreas de este sitio, visita, participación, suministro de datos, utilización y/o navegación en el sitio web implica por parte de los usuarios el conocimiento, consentimiento y aceptación plenos y expresos de los términos y condiciones de uso del sitio que aquí se establecen, con la consiguiente obligación de respetar las previsiones contenidas en el presente. De no estar de acuerdo con lo anteriormente expuesto, deberán abstenerse de utilizar el sitio web y de proporcionar cualquier clase de información personal a través del mismo.
%p Si Ud. no desea aceptar estos términos y condiciones no podrá acceder a este Sitio, ni adherirse al sistema de beneficios de PRAEMIUM.
 
%h2 DESCRIPCIÓN DE SERVICIOS
%p El sitio web exige el registro de los visitantes para acceder.  Para registrarse y crear su cuenta personal el usuario deberá proveer a PRAEMIUM la información requerida para el procedimiento de adhesión al programa. La misma deberá ser precisa, veraz y completa.
%p El usuario declara conocer su obligación de actualizar y/o rectificar cualquier modificación en los datos insertos en el sitio web.
%p El usuario será el único responsable por la información proporcionada, por la actividad que se desarrolle en su cuenta personal y por las consecuencias que de ello se deriven.
%p Deberá mantener seguro el acceso a la misma. PRAEMIUM se reserva el derecho de solicitar información adicional o comprobante de documentación que estime correspondiente a efectos de corroborar los datos personales de los usuarios del sitio web, así como de suspender y/o disponer la baja de aquellos usuarios cuyos datos no fuese posible confirmar
 
%p Existen diferentes tipos de usuarios:
%p (i) Miembro de PRAEMIUM, es aquel que se registra y puede formar parte de la comunidad buscando comercios adheridos, productos para adquirir, solicitar el alta de su empresa en el sistema o comenzar la prueba gratuita para empresas (sólo en caso de ser empresa/comercio).
 
%p (ii) Administrador de comercio adherido, es aquél titular de comercio, empresa que brinde productos o servicios que puede administrar los datos de su establecimiento (como por ejemplo solicitar la emisión de Tarjetas a nombre de su empresa/comercio, acceder a la información de los clientes adheridos, dar de alta productos y/o promociones realizar transacciones con Tarjetas de clientes, solicitar datos adicionales a los clientes siempre y cuando demuestre que estén relacionados con el giro de su negocio).
 
%p (iii) Cliente de comercio adherido, es toda persona humana titular de una Tarjeta, que puede visualizar las transacciones realizadas, adquirir productos que el administrador de comercio adherido habilite, recargar su Tarjeta a través de los medios habilitados por el comerciante, declarar la pérdida/robo de su tarjeta o si así lo desea, agregar/modificar los datos adicionales que el comerciante solicite.
 
%p Se conoce como Tarjeta a un instrumento que dispone de un número que relaciona e identifica  a un cliente con un comercio adherido, generando un campo que se introduce en la base de datos, donde se almacena el saldo o los movimientos de la cuenta. El cliente dispondrá de este número en su cuenta de PRAEMIUM, y el comercio podrá, opcionalmente, entregar tarjetas físicas con códigos de barras impresas.
%p Las Tarjetas tendrán un saldo y un puntaje. Es facultad del comercio habilitar el uso del saldo (si desea implementar un sistema de prepagos), o el uso de puntaje (si desea implementar un sistema de bonificaciones), o ambos al mismo tiempo.
%p En ningún caso el cliente podrá utilizar la tarjeta de un tercero, siendo el cliente titular de la cuenta responsable por los daños y perjuicios ocasionados por el uso de cualquier cuenta ajena.
 
%h2 Productos complementarios al servicio
%p PRAEMIUM  ofrecerá, de manera opcional, productos que complementen al servicio, cuyo costo estará dado de acuerdo con la tabla de precios vigente, disponible en http://PRAEMIUM .com.ar/precios.
 
%p Estos productos pueden ser:
%ul
  %li Paquetes de tarjetas impresas con códigos de barras.
  %li Paquetes de hardware personalizados (que pueden incluir lector de códigos de barra, notebook, Tablet).
  %li Diseño de logos y tarjetas personalizadas.
  %li Sitio web del comercio personalizado.
  %li Otros que PRAEMIUM  disponga.
%p PRAEMIUM  se reserva el derecho de variar los precios de la tabla sin previo aviso.
 
%h3 Servicios ofrecidos
%h4 Prueba gratuita
%p Consiste en el alta en 24 horas de un comercio, con la creación automática de 50 Tarjetas, y
con una duración de 30 días corridos.
 
%h4 Servicio básico de prepagos y bonificaciones
%p Consiste en el alta de un comercio y la creación automática de 500 clientes.
 
%h4 Servicio personalizado de prepagos y bonificaciones
%p Se utiliza para requerimientos especiales de clientes que cuenten con el servicio básico de
prepagos y bonificaciones, como por ejemplo, (pero no limitado a) el requerimiento de una cantidad de clientes mayor a 500, o un sitio exclusivo para sus programas de recompensas.
 
%h2 RESPONSABILIDADES
%p PRAEMIUM  no se hace responsable por los productos y servicios ofrecidos por cada comercio, quienes serán exclusivamente responsables por los daños y perjuicios que pudieren ocasionar, tanto por la prestación de servicios y/o comercialización de sus productos. El usuario declara conocer y aceptar esta cláusula.
 
%h2 PROPIEDAD INTELECTUAL
%p La marca PRAEMIUM, el logotipo, isotipo, diseño del sitio web, contenido del sitio web y diseño de las aplicaciones son marcas registradas, y no pueden ser utilizadas, imitadas ni copiadas sin autorización previa de PRAEMIUM .
 
%h2 POLÍTICAS DE PAGO Y ENTREGAS
%h3 Prueba gratuita
%p PRAEMIUM  da de alta a comercios en 24 (veinticuatro) horas a través del plan Prueba Gratuita, que consiste en una versión limitada a 50 (cincuenta) clientes, con una duración de un mes y sin costo para el administrador.
%p Para solicitar la Prueba Gratuita, es necesario adherir el pago a débito automático con una tarjeta de crédito. Durante el periodo de prueba gratuita, el administrador tiene la posibilidad de cancelar el servicio. Pasados los 30 (treinta) días, el comercio pasará automáticamente al Servicio básico de prepagos y bonificaciones.
 
%h3 Servicio básico de prepagos y bonificaciones
%p El administrador de un comercio adherido deberá abonar $1250 (mil doscientos cincuentapesos argentinos) en los primeros 10 (diez) días de cada mes, a partir de la implementación efectiva del sistema en su comercio, a través de los medios habilitados, descritos en http://PRAEMIUM .com.ar/pagos, y deberá informar el pago en los medios correspondientes, siendo esto suficiente para actualizar el servicio durante el periodo de 1 (un) mes.
 
%h3 Programa de Referidos
%p Cualquier miembro de la comunidad podrá recomendar usuarios para que adhieran sus comercios a PRAEMIUM , a través del envío de invitaciones (en adelante Referidos) al correo electrónico del potencial nuevo administrador de comercio desde la página de inicio de PRAEMIUM .
%p Si el Referido se convierte en un administrador de comercio adherido, el miembro que lo refirió recibirá $250 (doscientos cincuenta pesos argentinos) como bonificación, no reembolsable, por cada cuota mensual que el administrador del comercio referido abone, teniendo esta bonificación una duración máxima y limitada de 24 meses, sujeta a la condición que el referido (nuevo miembro) no abandone el sistema y permanezca al menos por el plazo de 6 (seis) meses a contar desde que abonó la primera cuota.
 
%h3 Vigencia de los precios
%p Los precios que figuran en este contrato, tendrán vigencia hasta el 31/12/2018, siendo obligación de PRAEMIUM  exhibir los nuevos precios el 31/11/2018 y enviarlo a cada administrador de comercio por el correo electrónico declarado por aquél, y en la página de inicio.
%p Se deja constancia que el administrador de comercio tiene la obligación de brindar a PRAEMIUM  un correo electrónico donde le serán válidas todas las notificaciones.
%p Si los administradores no expresan lo contrario, mediante notificación vía correo electrónico y/o postal indicando los datos que permitan identificarlo como cliente del Programa, se supondrá que están de acuerdo con la nueva valoración de precios y se mantendrán sus suscripciones.
 
%h3 Cláusula de rescisión
%p El administrador de un comercio podrá suspender el servicio cuando lo desee con el único requisito que lo realice  con una anticipación de 15 (quince) días, también podrá reactivarlo cuando lo requiera, dejando sentado que el proceso de reactivación puede demorarse hasta 48hs desde recibida la comunicación, la cual podrá ser vía correo electrónico y/o postal. Si el periodo de suspensión es menor a 1 (un) mes, se le cobrará proporcionalmente el costo del servicio según los días que lo tuvo activo. Si la baja es definitiva, se suspenderán los pagos de manera automática. Todo proceso de suspensión o baja se podrá realizar desde el panel de control del comercio.
 
%h2 CORRECCIÓN DE TÉRMINOS Y CONDICIONES
%p PRAEMIUM  se reserva el derecho de modificar estos términos y condiciones periódicamente cuando se considere oportuno, en forma unilateral sin derecho a reclamo ni indemnización a favor de los usuarios. Se notificará a los clientes y administradores en una notificación en la página de inicio y por correo electrónico, y se les sugiere leer esta declaración regularmente.
%p El incumplimiento por los usuarios de lo establecido en los presentes términos y condiciones –a exclusivo criterio de PRAEMIUM  dará derecho a ésta, sin perjuicio de cualquier acción judicial o extrajudicial que pudiere corresponderle, a la inmediata revocación, restricción total o parcial o suspensión de la autorización para acceder y navegar por el sitio, sin necesidad de notificación previa y sin derecho a indemnización alguna a favor de los usuarios.
%p Sin perjuicio de ello, los usuarios autorizan a PRAEMIUM  a disponer su exclusión, baja o suspensión, sin invocación de causa y sin previo aviso, cuando -a su sólo juicio- lo considere necesario o conveniente, sin que ello genere para el usuario derecho a indemnización alguna por ningún concepto
